{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="weS-iT6zr4B9g-sBuM2nD1EZBt55FPAZZbS1K5mkC0g" />
{% endblock %}

{% block body %}
<div class="note" style="text-align:center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- kurozumi.github.io/selenium-python 336*280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6843356127740583"
     data-ad-slot="4949251192"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

{{ body }}
{% endblock %}

{% block footer %}
{{ super() }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23705195-42"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23705195-42');
</script>
{% endblock %}
